.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: #5d5d5d;
    color: white;
}


.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}